<h1><%= @wrestler.name %></h1>
<h3>Execution: <%= @wrestler.convert_to_star_rating(@wrestler.execution) %></h3>
<h3>Ability: <%= @wrestler.convert_to_star_rating(@wrestler.action) %></h3>
<h3>Psychology: <%= @wrestler.convert_to_star_rating(@wrestler.layout) %></h3>
<h2>Overall: <%= @wrestler.score.round(1) %></h2>
<h2><%= @wrestler.star_rating %></h2>
